language: csharp

mono: none
dotnet: 3.1.101

before_install:
    - sudo apt-get install nuget
    - sudo apt-get install graphviz

install:
    - nuget restore hw1/Tasks/Tasks.sln

script:
    - dotnet build hw1/Tasks/Tasks.sln
    - dotnet test hw1/Tasks/Tasks.sln