language: Ñsharp

mono: none
dotnet: 3.1.101

before_install:
    - sudo apt-get install nuget

install:
    - nuget restore hw1/tasks/tasks.sln

script:
    - dotnet build hw1/tasks/tasks.sln
    - dotnet test hw1/tasks/tasks.sln